<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="titre-formulaire">Vous souhaitez apporter une précision? Ecrivez-nous !</h1>
      <form class="formulaire" action="https://formspree.io/mgeaqgzd" method="POST">
        <label>
          Votre email :
          <input type="text" name="_replyto">
        </label>
        <label>
          Votre Nom et Prénom :
          <input name="nom-prénom"></input>
        </label>
        <label>
          Votre message :
          <input name="message"></input>
        </label>
      <button type="submit">Envoyer</button>
        </form>
      <p id="copyright">Copyright Louis Tacheron 2019 © - Tous droits résérvés</p>
    </div>
  </div>
</div>
